{
    "plugins": ["prettier-plugin-tailwindcss"],
    "tailwindFunctions": ["sortCx", "cx"],
    "tailwindStylesheet": "./src/styles/globals.css",
    "singleQuote": true,
    "trailingComma": "all",
    "printWidth": 100,
    "tabWidth": 2,
    "semi": true
}
